<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>566760444238-1j2bn1h252noqt4f4dpfbc1mdlboohhn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.566760444238-1j2bn1h252noqt4f4dpfbc1mdlboohhn</string>
	<key>API_KEY</key>
	<string>AIzaSyB_GGFyCiG0hW9RtUbAy_S0MkETzL95zgk</string>
	<key>GCM_SENDER_ID</key>
	<string>566760444238</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fourthApp</string>
	<key>PROJECT_ID</key>
	<string>my-fourth-practice-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>my-fourth-practice-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:566760444238:ios:5d3a7af88821a7a4710e1f</string>
</dict>
</plist>